.head {
  width: 100%;
  padding: 0.32rem 0.36rem;
  display: flex;
  justify-content: space-between;
  height: 1.5rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: #fff;
}

.head > div {
  flex: 1;
}

.head div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head img {
  height: 100%;
  width: 2rem;
}

.head .right {
  width: 2rem;
  height: 100%;
  display: flex;
  color: #999999;
}

.head .right div {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.head .right div i {
  margin-bottom: 0.02rem;
}
